<div class="comp-container">
  <app-home></app-home>
  <div class="comp">
    <div class="social" orientation="left" class="icons-container">
      <ul class="social-links">
        <li>
          <a href="https://github.com/Arushibansal016" aria-label="GitHub">
            <b data-feather="github"></b>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/arushi-bansal-284369159/" aria-label="Linkedin">
            <b data-feather="linkedin"></b>
          </a>
        </li>
      </ul>
    </div>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-contact></app-contact>
  </div>
</div>