<section class="main-section">
    <p class="sec__heading">Hi, my name is</p>
    <div class="heading">
      <h1 class="name__heading">Arushi Bansal.</h1>
      <h1 class="role__heading">I am a Full-Stack Developer.</h1>
    </div>
    <p class="sec__desc" >
      Based in Meerut, Uttar Pradesh,India.I try to keep up with the latest trends.
      Passionate about learning new technologies, bringing ideas to life, 
      and working to build efficient and robust applications suited to the user’s needs. 
    </p>
    <div class="btn-container">
      <a class="btn" href="assets\Arushi_Bansal_Resume.pdf">Resume</a>
    </div>
  </section>